<app-header></app-header>

<main class="container-fuild px-5 py-8">
		<div class="bg-white px-4 py-4">
			<h1 class="sc-h1">Shopping Cart</h1>
			<div class="mt-5 pt-4 ">
				<table class="table table-borderless">
						<tr class="row sc-border1 mx-0 px-0">
							<th class="col-6"><h4 class="sc-h4">Products</h4></th>
							<div class="col-6 d-flex justify-content-between">
							<th class="px-5"><h4 class="sc-h4">Price</h4></th>
							<th class="px-5"><h4 class="sc-h4">Quantity</h4></th>
							<th class="px-5"><h4 class="sc-h4">Total</h4></th>
							</div>
						</tr>
						
						<tr class="row sc-border2 mx-0 px-0 my-3 py-3">
							
							<td class="col-6">
								<div class="row">
									<img class="col-3 sc-image" src="assets/Images/ShoppingCart/{{ cart.BoardName }}{{ cart.AccessoryName }}.jpg" alt="product-image">
								
								<div class="col-9 py-2"><p class="py-1">{{ cart.BoardName }}{{ cart.AccessoryName }}</p><button (click)="return()" class="btn sc-btn"><small class="css-psl87q e6vwi2u4">Remove</small></button>
								</div></div>
							</td>
							<div class="col-6 d-flex justify-content-between align-content-center">
							<td class="px-5 py-5"><h4 class="sc-h5">${{ cart.Price }}</h4></td>
							<td class="px-5 py-5"><h4 class="sc-h5">
								<div class="d-flex">
									<button (click)="minus()" class="sc-minus pr-3">-</button><p>{{ val }}</p><button (click)="plus()" class="sc-minus pl-3">+</button>
								</div>
							</h4></td>
							<td class="px-5 py-5 mx-4"><h4 class="sc-h5">${{ cart.Price*val }}</h4></td>
							</div>
						</tr>

				</table>
				<div class="d-flex flex-column align-items-end align-content-around">
					<div class="d-flex"><h5 class="sc1-h5 pt-2 pr-2">Subtotal</h5> <h3 class="sc-h3 pl-2">${{ cart.Price*val }}</h3></div>
					<div><h5 class="sc1-h5">Shipping &amp; taxes calculated at checkout</h5></div>
					<div><button color="default" (click)="detail(cart._id,val)" class="sc-btn1">Checkout</button></div>
				</div>
			</div>
		</div>
		
</main>
<app-footer></app-footer>
