
<div class="container">
    <h1 class="text-center">ADMINISTRATOR</h1>
    </div>
    <div class="topnav" id="myTopnav">
    
      <a href="/DisplayDetail">Personal Detail</a>
      <a href="/DisplayAdmin">Admin</a>
      <a href="/DisplayBoard">Boards</a>
      <a href="/DisplayAccessory">Accessories</a>
      <a href="/DisplayPayment">Payment</a>
      <a href="/DisplayIssue">Issue</a>
      <button style="float: right;" (click)="LogOut()" >LOG OUT</button>
      <label style="float: right;" class="username">{{ username }}</label>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    
    </div>