<app-header></app-header>

<div>
    <img src="./assets/Images/WhyFire/why-boostedimg2.jpg" style="opacity: 0.8;" width="100%" height="430px" alt="product-image">
    <div class="c1-text">
        <h2 class="c1-h2-text" style="color: rgba(12, 11, 11, 0.986);">Why Ride Electric?</h2>
    </div>  
</div>
    <main class="container-fuild px-5 py-5">
    <div class="bg-white">
    
    <div class="row ">
    <div class="col-6 px-0 mx-0">
    <img src="./assets/Images/WhyFire/commuting-costs_2x.jpg" width="100%" height="100%" />
    </div>
    <div class="col-6 px-0 mx-0">
    <div class="textimage">
    <h1>Save the World!</h1>
    <ul>
    <li>97% lower energy use than automobiles</li>
    <li>Reduces congestion</li>
    <li>Improves air quality</li>
    <li>Fun!</li>
    </ul>
    </div>
    </div>
    </div>
    
    
    <div class="row">
    <div class="col-6 px-0 mx-0">
    <div class="textimage">
    <h1>Boosted Saves you Money</h1>
    <ul>
    <li>Boosted ownership is $2 per day; ride share is $2 per mile</li>
    <li>Boosted vehicles stow indoors (no parking)</li>
    <li>Commuting with Boosted saves thousands of dollars per year</li>
    </ul>
    </div>
    </div>
    <div class="col-6 px-0 mx-0">
    <img src="./assets/Images/WhyFire/boosted-boards-nyc.jpg" width="100%" height="100%" />
    </div>
    </div>
    
    
    <div class="row">
    <div class="col-6 px-0 mx-0">
    <img src="./assets/Images/WhyFire/top-speed-comparison.jpg" width="100%" height="100%" />
    </div>
    <div class="col-6 px-0 mx-0">
    <div class="textimage">
    
    <h1>Boosted vehicles are premium by design</h1>
    <ul>
    <li>High performance, proprietary powertrain</li>
    <li>Powerful acceleration</li>
    <li>Confidence-inspiring electric braking</li>
    <li>Iconic design</li>
    </ul>
    </div>
    </div>
    </div>
    
    
    <div class="row">
    <div class="col-6 px-0 mx-0">
    <div class="textimage">
    <h1>Boosted products are truely vehicle-grade</h1>
    <ul>
    <li>Exceptional materials and build quality</li>
    <li>Designed for years of daily use</li>
    <li>Mechanically, electrically, and environmentally rugged</li>
    <li>Industry-leading support & service</li>
    </ul>
    </div>
    </div>
    <div class="col-6 px-0 mx-0">
    <img src="./assets/Images/WhyFire/Boosted-Rev-Testing.jpg" width="100%" height="100%" />
    </div>
    </div>
    </div>
    </main>
    
<app-footer></app-footer>