<app-header></app-header>

<div class="topimage">
        <img src="assets/Images/AboutUs/aboutusimg1.png" style="opacity: 0.7;" width="100%" height="430px" />
        <div class="c1-text">
                <h2 class="c1-h2-text" style="font-size: 45px;color: rgba(12, 11, 11, 0.986);">FUN, FAST, SIMPLE TRANSPORTATION FOR EVERYONE</h2>
            </div>
        </div>
        <main class="container-fluid pb-5">
                <div class="text1">
                        <h3 class="text2">ABOUT BOOSTED</h3>
                        <h6  class="text3">What began as a few grad students looking for a better way to get around campus, has since grown to become a globally recognized brand on a mission to reinvent transportation. Boosted empowers people everywhere to move across their cities, campuses, and communities in ways that are fun, fast, and simple. We started with the world’s best electric skateboard, but our broader mission has always been to address the “last mile” problem with ultra-light, high-performance electric vehicles that redefine what transportation can be.</h6>
                </div>
       <div class="parent">
        <div class="timeline">
          <div class="container left">
            <div class="content">
            <img src="assets/Images/AboutUs/aboutusimg2.jpg"  class="imageborder" height="170px" width="460px">
              <h2>2014</h2>
              <h3>Series A Venture Funding</h3>
              <p>We receive funding to support our extraordinary growth.</p>
            </div>
          </div>
          
          <div class="container right">
            <div class="content">
        <img  class="imageborder" src="assets/Images/AboutUs/aboutusimg3.jpg" height="170px" width="460px">
        
              <h2>2015</h2>
              <h3>Casey Neistat Helps Us Go Viral</h3>
              <p>Halloween 2015 marks the first Magic Carpet ride through NYC.</p>
            </div>
          </div>
          <div class="container left">
            <div class="content">
            <img src="assets/Images/AboutUs/aboutusimg4.jpg" class="imageborder" height="170px" width="460px"/>
        
              <h2>2016</h2>
              <h2>2nd Gen Board Launch</h2>
              <p>We launch our 2nd gen boards, compatible with our extended range battery packs, giving riders double the range.</p>
            </div>
            
          </div>
          <div class="container right">
            <div class="content">
            <img src="assets/Images/AboutUs/aboutusimg5.jpg" class="imageborder" height="170px" width="460px">
        
              <h2>2017</h2>
              <h2>Geographic and Retail Expansion</h2>
              <p>We expand shipping from just US and Canada to 34 countries, including the European Union, Australia, and New Zealand.</p>
            </div>
          </div>
          <div class="container left">
            <div class="content">
            <img src="assets/Images/AboutUs/aboutusimg6.jpg" class="imageborder" height="170px" width="460px">
        
              <h2>2018</h2>
              <h2>Award-Winning Boosted Backpack Launch</h2>
              <p>Winner of the IDSA Silver award, the Boosted Backpack sells out in less than a week.</p>
            </div>
          </div>
          <div class="container right">
            <div class="content">
            <img src="assets/Images/AboutUs/aboutusimg7.jpg" class="imageborder" height="170px" width="460px">
        
              <h2>2019</h2>
              <h2>Boosted Rev launches</h2>
              <p>Our all-new, high-performance scooter was built to handle real road conditions and real traffic. Get ready to rethink the way you get there.</p>
            </div>
          </div>
        </div>
        </div>
        </main>
        
<app-footer></app-footer>