<footer>
    <div class="row">
    <div class="col-6">
    <div class="row">
    <div class="col-6">
    <div class="footer1">
    <div class="ml-5">
    <h4 style="line-height:40px;">Company</h4>
    <div class="a"><p><b><a style="color: black;opacity:7;text-decoration: none;" href="/PrivacyPolicy">Privacy Policy</a></b></p></div>
    <div class="a"><p><b><a style="color: black;opacity:7;text-decoration: none;" href="/AboutUs">About us</a></b></p></div>
    <div class="a"><p><b><a style="color: black;opacity:7;text-decoration: none;" href="/TermAndConditions">Terms and Conditions</a></b></p></div>
    <div class="a"><p><b><a style="color: black;opacity:7;text-decoration: none;" href="/ContactUs">Contact us</a></b></p></div>
    </div>
    </div>
    </div>
    <div class="col-6">
    <div class="footer3">
    <h4 style="line-height:40px;">Things</h4>
    <div class="a"><p><b><a style="color: black;opacity:7;text-decoration: none;" href="/Boards">Boards</a></b></p></div>
    <div class="a"><p><b><a style="color: black;opacity:7;text-decoration: none;" href="/Accessories">Accessories</a></b></p></div>
    </div>
    </div>
    </div>
    </div>

    <div class="col-6">
    <div class="footer2">
    <div class="pr-4">
    <div><h5>STAY UP TO DATE ON BOOSTED DEALS</h5></div>
    <div class="d-flex pt-4"><input class="px-2 i-footer" type="text" name="email" placeholder="Email" size="30">
    <input type="button" name="submit" value="subscribe" class="button"></div>
    <div class="icons"><a class="px-1" style="color: black;opacity:7" href=""><i class="fa fa-instagram" style="font-size:30px"></i></a>
    <a class="px-1" style="color: black;opacity:7" href=""><i class="fa fa-facebook" style="font-size:30px"></i></a>
    <a class="px-1" style="color: black;opacity:7" href=""><i class="fa fa-twitter" style="font-size:30px"></i></a>
    <a class="px-1" style="color: black;opacity:7" href=""><i class="fa fa-youtube-play" style="font-size:30px"></i></a>
    </div>
    </div>
    </div>
    </div>
    </div>
</footer>