<app-header></app-header>

<main class="container-fluid">
    <div id="demo" class="carousel slide" data-ride="carousel" style="padding:0% 1%;">
      <ul class="carousel-indicators w-increase">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item active">
            <figure class="mm-h">
                <img src="assets/Images/Home/save-time-save-money_2x__1_.jpg" alt="Image behind link" width="1100" height="500">
            </figure>
          <div class="c-text">
            <h1 class="c-h1-text">THERE’S A BETTER WAY TO COMMUTE.</h1>
            <h2 class="c-h2-text">Save time.<br>Save money.</h2>
            <a class="btn o-a" href="/WhyFire"><button class="o-btn">See How</button></a>
          </div>   
        </div>
        <div class="carousel-item">
          <figure class="mm-h">
            <img src="assets/Images/Home/boosted-boards-uncommute-hero-1-1-1.jpg" alt="Image behind link" width="1100" height="500">
          </figure> 
          <div class="c-text">
            <h1 class="c-h1-text">Introducing vehicle-grade electric skateboards</h1>
            <h2 class="c-h2-text">Rethink how<br>you get there.</h2>
            <a class="btn o-a" href="/Boards"><button class="o-btn">Shop Now</button></a>
          </div>    
        </div>
        <div class="carousel-item">
         <figure class="mm-h">
             <video autoplay="" loop="" playsinline="">
                <source src="assets/Images/Home/WMC_BETA_VID_4.mp4">
             </video>
         </figure>
          <div class="c-text">
            <h1 class="c-h1-text">INTRODUCING BOOSTED REV</h1>
            <h2 class="c-h2-text">Because it’s fun. <br>That’s why.</h2>
            <a class="btn o-a" href="/Accessories"><button class="o-btn">Shop Now</button></a>
          </div>  
        </div>
        <div class="carousel-item">
         <figure class="mm-h">
             <video autoplay="" loop="" playsinline="">
                <source src="assets/Images/Home/website_loop-720-vbr-2-10.mp4">
             </video>
         </figure>
          <div class="c-text">
            <h1 class="c-h1-text">GET IT NOW</h1>
            <h2 class="c-h2-text">A ride too<br>good to share</h2>
            <a class="btn o-a" href="/Boards"><button class="o-btn">Shop Now</button></a>
          </div>    
        </div>
      </div>
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="70" viewBox="0 0 35 70"><g id="Group_3578" data-name="Group 3578" transform="translate(1341 401) rotate(180)"><rect id="Rectangle_2342" data-name="Rectangle 2342" width="35" height="70" transform="translate(1306 331)" fill="#373737"></rect><path id="Path_1308" data-name="Path 1308" d="M1312.244,304.8l7.318-14.926-7.318-14.926" transform="translate(7 76)" fill="none" stroke="#afafaf" stroke-width="2"></path></g></svg>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="70" viewBox="0 0 35 70"><rect id="Rectangle_2342" data-name="Rectangle 2342" width="35" height="70" transform="translate(1305 331)" fill="#373737"></rect><g id="Group_3577" data-name="Group 3577" transform="translate(-1305 -331)"><path id="Path_1308" data-name="Path 1308" d="M1312.244,304.8l7.318-14.926-7.318-14.926" transform="translate(7 76)" fill="none" stroke="#afafaf" stroke-width="2"></path></g></svg>
      </a>
    </div>
    <div class="row my-5 justify-content-between">
    <div class="col-4">
    <div class="v-style">
    <a href="/Boards">
    <img class="v-image" src="assets/Images/Home/boosted-rev-homepage1.jpg" alt="Image behind link"></a></div>
    <a href="/Boards"><h4 class="v-text">Boosted Rev</h4></a></div>
    
    <div class="col-4">
    <div class="v-style">
    <a href="/Accessories">
    <img class="v-image" src="assets/Images/Home/boosted-boards-homepage2.jpg" alt="Image behind link"></a></div>
    <a href="/Accessories"><h4 class="v-text">Boosted Boards</h4></a></div>
    <div class="col-4">
    <div class="v-style">
    <a href="/AboutUs">
    <img class="v-image" src="assets/Images/Home/boosted-family-homepage3.jpg" alt="Image behind link"></a></div>
    <a href="/AboutUs"><h4 class="v-text">Meet the Family</h4></a></div>
    </div>

</main>

<app-footer></app-footer>