<app-admin-header></app-admin-header>
<div style="padding-left:16px">
    <h2></h2>
    </div>
  
  <script>
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
  </script>
  
  
  <br><div class="container">
    <h2>BOARDS DETAILS</h2><br>
    <a href="/AddBoard">ADD ITEM</a>
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th>BoardID</th>
          <th>BoardName</th>
          <th>Speed</th>
          <th>Range</th>
          <th>Warranty</th>
          <th>Price</th>
          <th>ShippingTime</th>
          <th colspan="2"  class="pl-5">Option</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let board of boardlist">
          <td>{{ board._id }}</td>
          <td>{{ board.BoardName }}</td>
          <td>{{ board.Speed }}</td>
          <td>{{ board.Range }}</td>
          <td>{{ board.Warranty }}</td>
          <td>${{ board.Price }}</td>
          <td>{{ board.ShippingTime }}</td>
          <td><button class="btn btn-default" style="background-color:black ;color: white;" (click)="EditBoard(board._id)">EDIT</button></td>
          <td><button  class="btn btn-default" style="background-color:black ;color: white;" (click)="DeleteBoard(board._id)">DELETE</button>
          </td>
        </tr>
  
      </tbody>
    </table>
  </div>