main{
    text-align: justify;
}
main ~ span{
    font-weight: 400;
}
main ~ a:link{
    color:brown;
    text-decoration:none;
}
main ~ a:visited{
    color:blue;
    text-decoration:none;
}
main ~ p{
    opacity:0.8;
    filter: alpha(opacity=50);
}